@font-face{
    font-family: Titilium;
    src: url(Asset/fonts/Titilium.ttf);
  }
  
body{
    font-family: Titilium;
    background-color: #000;
}

.input-group{
    border-collapse: collapse;
}

.input-group-btn{
    font-size: 16px;
     position:relative;   
    top: 5px;
    right: 30px;
    z-index: 10;  
}
.row{
margin-top: 5px;
margin-bottom: 5px;
}

.header, header p{
    color: #FFF;
}
.header1{
    background-image: url(image/pattern_header.jpg);
    margin-top: 0px;
}

.nav1 li{
    font-size: 2em;
    
}

.nav2 li{
    background-color:#888;
    font-size: 14px;
    padding: 15px;
}



/* Code pour METTRE des gouttieres */

.grid > * {
  margin-left: -@gutter;
}
.grid > * > * {
  float: left;
  padding-left: @gutter;
}

/* Plus besoin de la grosse ligne avec col-lg-1, etc.. 
On peut changer la taille dans le fichier Asset/bootstrap-3.2.0/less/variables.less(<--à tester)
Ou ajouter variable @gutter: px; (<-- à tester)
Du coup plus besoin d'encadrer les blocs avec des div class="col-lg-"?? */
/* CSS Rémy */

/* Le row reste utile pour les gutters horizontales top et bottom */



.row{
margin-top: 5px;
margin-bottom: 5px;
}


.bloc1{
    background-image:url("image/image1.jpg");
    height:500px;
}


.bloc2{
   
    background-image:url("image/img.jpg");
    height:250px; 
    
}

.bloc3{
    background-color: #009999;
    height:250px;
}    

.bloc4{
    background-image: url("image/image2.png");
    height:230px; 
    margin-top:10px;
    margin-right: 15px;
    margin-left: 15px;    
}

.bloc5{
     overflow: hidden;
background-image:url("image/image5.jpg");
height:250px;
    
}
.bloc6{
    background-image:url("image/image8.jpg");
    height: 250px;
}
.bloc7{
    background-color: yellow;
    height: 250px;
}
.bloc8{
    background-image:url("image/image9.jpg");
    height: 250px;
}
.bloc9{
    background-image:url("image/image7.jpg");
    height: 250px;
}
.bloc10{
    background-image:url("image/image4.jpg");
    height:250px;
}
.bloc11{
    background-image:url("image/image6.jpg");
    height: 250px;
}

section p:hover{
    background-color: #FFFFFF;  
}

section p{
   font-size: 20px;
   color:black;
   background-color: rgba(255,255,255,0.8);
}

.bloc{
position: relative;
}

.bloc p{
   width: 100%;
   margin-bottom: 0px;
position: absolute;
bottom: 0px;
}
.lien{
    color:white;
}

/* CSS Marie-Laure */

footer li{
    display: inline;
    position: relative;
    top: 100px;
    color: #5D7FB9;
    
}
p.text-footer{
    color: #FFFFF2;
}

.footer li{
    margin: 5px;
}

.twitter-nasa{
    overflow: hidden;
}
twitter-timeline{
    margin-left: auto;
    margin-right: auto;
}